<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Preparing Dataset</title>
    <!-- JQuery -->
    <script src="https://code.jquery.com/jquery-2.2.4.min.js"
            integrity="sha256-BbhdlvQf/xTY9gja0Dq3HiwQF8LaCRTXxZKRutelT44=" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/lodash/4.13.1/lodash.min.js"></script>
    <!-- MATERIALIZE -->
    <!-- Compiled and minified CSS -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.97.6/css/materialize.min.css">
    <!-- Compiled and minified JavaScript -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.97.6/js/materialize.min.js"></script>
</head>
<style>
    body {
        text-align: center;
    }

    .load-container {
        margin-top: 150px;
    }

    .loading-text {
        font-size: 120%;
    }
</style>
<body>
<div class="load-container">
    <p class="loading-text">
        Indexing/Loading Dataset...
    </p>

    <div class="row">
        <div class="col s8 offset-s2">
            <div class="progress red lighten-4">
                <div class="indeterminate red"></div>
            </div>
        </div>

    </div>
    <p class="error-message">

    </p>

</div>


<script>
    $.getJSON("/setDataset", {dataset:{{dataset_name|tojson}}}, function (data) {
        if (_.has(data, 'error')) {
            $('.error-message').html("<b>Error loading dataset:</b> " + data.error);
        }
        else {
            window.location.href = "/main";

        }
    })
</script>
</body>
</html>